# This is a basic workflow to help you get started with Actions

name: fortify-analysis

# Controls when the action will run. 
on:
  release:
     types: [ created ]
  # Triggers the workflow on push or pull request events but only for the develop branch
  #push:
  #  branches: [ serif_Upload ]
  #pull_request:
  #  branches: [ develop ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v1
        with:
          java-version: '11' 
      - name: Check JavaHome
        run: echo $JAVA_HOME; javac -version
           
      # Setup ScanCentral Client
      #- name: Fortify ScanCentral Scan
      #  uses: fortify/gha-setup-scancentral-client@v1.1.1
        
      # ScanCentral Client Run Code Package with Maven
      #- name: Perform SAST Scan
      #  run: scancentral package -o webgoat.zip -bt mvn -bf pom.xml

      # Runs a set of commands using the runners shell
      - name: Download and Install Fortify
        run: |
          curl '${{ secrets.FORTIFY_LICENSE_URL }}' --output fortify.license
          curl '${{ secrets.FORTIFY_SCA_URL }}' --output Fortify_SCA_and_Apps_20.1.2_linux_x64.run
          chmod a+x  Fortify_SCA_and_Apps_20.1.2_linux_x64.run
          ./Fortify_SCA_and_Apps_20.1.2_linux_x64.run --mode unattended --unattendedmodeui minimal --installdir ./sca
          export PATH=$PATH:./sca/bin
          fortifyupdate
          scancentral package -o webgoat.zip -bt mvn -bf pom.xml
          packagescanner -package webgoat.zip -fpr webgoat.fpr
          
      - uses: actions/setup-node@v2
        with:
          node-version: '12'
      - run: npm i @microsoft/sarif-multitool
      - run: npx @microsoft/sarif-multitool convert webgoat.fpr -t FortifyFpr -o webgoat.sarif -f -p 
      - uses: actions/upload-artifact@v2
        with:
          name: scanResults
          path: |
            webgoat.fpr
            webgoat.sarif  

      # Import Fortify on Demand results to GitHub Security Code Scanning
      - name: Import Results
        uses: github/codeql-action/upload-sarif@v1
        with:
          sarif_file: webgoat.sarif
